alias ll="ls -lh"
alias lla="ls -lah"
alias cdls=". cdls"
alias cdlsa=". cdlsa"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"
alias p="pwd"

alias d="cd ~/dotfiles"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias g="git"
alias gst="git status"
alias gl="git log --all --graph --decorate"
alias gll="git log --all --graph --decorate --stat"
alias glf="git log --follow -p"
alias gdf="git diff --cached"
alias gch="git checkout"
alias gchm="git checkout master"
alias chrome="Google\ Chrome.app"
alias py="python3"
alias v="nvim"
alias mv="mv -i"
alias e="exit"
alias venv="source venv/bin/activate"
alias dcu="docker compose up"
alias dcud="docker compose up -d"
alias dip="docker image prune -f"
alias ca="conda activate"
