[user]
	name = Jack Walters
	email = jackwalterswork@gmail.com
[core]
	editor = /usr/local/bin/mvim -v
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
