[user]
    name = Jack Walters
    email = jackwalterswork@gmail.com
[core]
	editor = /usr/bin/vim
	autocrlf = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
[http]
	postBuffer = 157286400
